<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}
	{% if page.mathjax %}
        <script type="text/x-mathjax-config">
		 MathJax.Hub.Config({
             "HTML-CSS": { scale: 90, linebreaks: { automatic: true } },
             SVG: { linebreaks: { automatic:true } },
             /* displayAlign: "center",*/
             tex2jax: {
                 inlineMath: [ ['$','$'], ["\\(","\\)"] ],
                 processEscapes: true,
             }
		 });
		</script>
		<script async type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
        {% endif %}
  <body>

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <article class="post">

		  <div class="post-content">
		    {{ content }}
		  </div>

		</article>
      </div>
    </main>

  </body>

</html>
